<a href="https://colab.research.google.com/github/arisu118/Tr-ng-Minh-Thu-n/blob/main/Th%E1%BB%B1c_h%C3%A0nh_lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Trương Minh THuận - 23150010 - ca 1 - ngày 2/7/2025

In [27]:
%pip install pandas

import pandas as pd

tuoi = [20, 25, 30, 35]
series = pd.Series(tuoi)

print("Series ban đầu:")
print(series)

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Series ban đầu:
0    20
1    25
2    30
3    35
dtype: int64

In [28]:
# 2. Truy cập dữ liệu
# Lấy giá trị tại chi mục 2
value = series [2]
print ("\nGiá trị tại chi mục 2:", value)

Giá trị tại chi mục 2: 30

In [29]:
# 3. Thống kê mô tả
print("\nThống kê mô tả:")
print(series.describe())

Thống kê mô tả:
count     4.000000
mean     27.500000
std       6.454972
min      20.000000
25%      23.750000
50%      27.500000
75%      31.250000
max      35.000000
dtype: float64

In [30]:
# 4. Thao tác dữ liệu
# Cộng 5 vào mỗi phần tử trong Series
new_series = series + 5
print("\nSeries sau khi cộng 5 vào mỗi phần tử:")
print(new_series)

Series sau khi cộng 5 vào mỗi phần tử:
0    25
1    30
2    35
3    40
dtype: int64

In [31]:
# 5. Khởi tạo DataFrame
data = {
 'Tên' : ['An', 'Hà', 'Trung', 'Dũng'],
 'Tuổi' : [20, 25, 30, 35],
 'Thành phố': ['Hà Nội', 'TP HCM', 'Nha Trang', 'Huế']
}
df = pd.DataFrame(data)

In [32]:
# 6. In dữ liệu trên
print("DataFrame ban đầu:")
print(df)

DataFrame ban đầu:
     Tên  Tuổi  Thành phố
0     An    20     Hà Nội
1     Hà    25     TP HCM
2  Trung    30  Nha Trang
3   Dũng    35        Huế

In [33]:
# 7. In cột tên
print("\nCột 'Tên':")
print(df['Tên'])

Cột 'Tên':
0       An
1       Hà
2    Trung
3     Dũng
Name: Tên, dtype: object

In [34]:
# 8. Truy cập hành thứ 2(sử dụng 1loc)
print("\nHàng thứ 2:")
print(df.loc[1])

Hàng thứ 2:
Tên              Hà
Tuổi             25
Thành phố    TP HCM
Name: 1, dtype: object

In [35]:
# 9. Thêm cột 'Nghề nghiệp'
df['Nghề nghiệp'] = ['Giáo viên', 'Kỹ sư', 'Kinh doanh', 'Bác sĩ']
print("\nDataFrame sau khi thêm cột 'Nghề nghiệp':")
print(df)

DataFrame sau khi thêm cột 'Nghề nghiệp':
     Tên  Tuổi  Thành phố Nghề nghiệp
0     An    20     Hà Nội   Giáo viên
1     Hà    25     TP HCM       Kỹ sư
2  Trung    30  Nha Trang  Kinh doanh
3   Dũng    35        Huế      Bác sĩ

In [36]:
# 10. Xóa cột 'Nghề nghiệp'
# drop là xóa
# axis = 1 là cột, axis = 0 là hàng
# inplace=true update dữ liệu gốc
df.drop('Nghề nghiệp', axis=1, inplace=True)
print("\nDataFrame sau khi xóa cột 'Nghề nghiệp':")
print(df)

DataFrame sau khi xóa cột 'Nghề nghiệp':
     Tên  Tuổi  Thành phố
0     An    20     Hà Nội
1     Hà    25     TP HCM
2  Trung    30  Nha Trang
3   Dũng    35        Huế

In [37]:
# 11. Sắp xếp theo 'Tuổi'
Sorted_df = df.sort_values(by='Tuổi')
print("\nDataFrame sau khi sắp xếp theo 'Tuổi':")
print(Sorted_df)

DataFrame sau khi sắp xếp theo 'Tuổi':
     Tên  Tuổi  Thành phố
0     An    20     Hà Nội
1     Hà    25     TP HCM
2  Trung    30  Nha Trang
3   Dũng    35        Huế

In [38]:
# Lọc Những người có tuổi trên 25
Filtered_df = df[df['Tuổi'] > 25]
print("\nDataFrame sau khi lọc những người có tuổi trên 25:")
print(Filtered_df)

DataFrame sau khi lọc những người có tuổi trên 25:
     Tên  Tuổi  Thành phố
2  Trung    30  Nha Trang
3   Dũng    35        Huế

In [39]:
data = {
 'Tên' : ['An', 'Hà', 'Trung', 'Dũng'],
 'Tuổi' : [20, 25, 30, 35],
 'Thành phố': ['Hà Nội', 'TP HCM', 'Nha Trang', 'Huế']
}
df = pd.DataFrame(data)

# Chọn những người ở thành phố 'Nha Trang'
filtered_df = df[df['Thành phố'] == 'Nha Trang']
print("\nNgười ở thành phố Nha Trang:")
print(filtered_df)

Người ở thành phố Nha Trang:
     Tên  Tuổi  Thành phố
2  Trung    30  Nha Trang

In [40]:
# 14. Tạo một dictionary
dict = {
    'a': 100,
    'b': 200,
    'c': 300,
    'd': 400
}

In [45]:
# 15. Tạo series từ dictionary
Series = pd.Series(dict)

print("Series được tạo từ dictionary:")
print(Series)

Series được tạo từ dictionary:
a    100
b    200
c    300
d    400
dtype: int64

In [48]:
# 16. Truy cập giá trị bằng chỉ mục, .Loc
value_a = Series['a']
print("Giá trị tại chỉ mục 'a':", value_a)

Giá trị tại chỉ mục 'a': 100

In [49]:
# Sử dụng .Loc để truy cập
value_b = Series.loc['a']
print("Giá trị tại chỉ mục 'b' sử dụng .loc: ", value_b)

Giá trị tại chỉ mục 'b' sử dụng .loc:  100

In [50]:
# sử dụng .iloc để truy cập theo vị trí số
value_first = Series.iloc[0]
print("Giá trị đầu tiên trong Series", value_first)

Giá trị đầu tiên trong Series 100

In [51]:
# Tạo DataFram từ List của Lists
data = [
    ['An', 20, 'Hà Nội'],
    ['Hà', 25, 'TP HCM'],
    ['Trung', 30, 'Nha Trang'],
    ['Dũng', 35, 'Huế']
]

In [52]:
columns = ['Tên', 'Tuổi', 'Thành phố']
df = pd.DataFrame(data, columns=columns)

In [53]:
print("DataFrame được tạo từ List của Lists:")
print(df)

DataFrame được tạo từ List của Lists:
     Tên  Tuổi  Thành phố
0     An    20     Hà Nội
1     Hà    25     TP HCM
2  Trung    30  Nha Trang
3   Dũng    35        Huế

In [55]:
print(df['Tên'])

0       An
1       Hà
2    Trung
3     Dũng
Name: Tên, dtype: object

In [56]:
print(df.iloc[0])

Tên              An
Tuổi             20
Thành phố    Hà Nội
Name: 0, dtype: object

In [57]:
df.sort_values(by='Tuổi', ascending=True)

     Tên  Tuổi  Thành phố
0     An    20     Hà Nội
1     Hà    25     TP HCM
2  Trung    30  Nha Trang
3   Dũng    35        Huế

In [58]:
age_range = df.query('25 <= Tuổi <= 35')
print(age_range)

     Tên  Tuổi  Thành phố
1     Hà    25     TP HCM
2  Trung    30  Nha Trang
3   Dũng    35        Huế

In [59]:
# Chọn những người có tên bắt đầu bằng chữ 'B'
name_starts_with_b = df.query('Tên.str.startswith("B")')
print(name_starts_with_b)

Empty DataFrame
Columns: [Tên, Tuổi, Thành phố]
Index: []

In [62]:
# Chọn những người có tuổi trên 25 và sống tại Nha Trang
over_25_and_in_nt = df[df['Tuổi'] > 25 & (df['Thành phố'] == 'Nha Trang')]
print(over_25_and_in_nt)

     Tên  Tuổi  Thành phố
0     An    20     Hà Nội
1     Hà    25     TP HCM
2  Trung    30  Nha Trang
3   Dũng    35        Huế